{% extends "base.html" %}

{% block styles %}

{% endblock styles %}

{% block content %}
{% verbatim %}
<div ng-app="task-burndown" class="app-root">
    <div ng-controller="GlobalController" layout="horizontal" ng-cloak>
        <material-sidenav layout="vertical" class="material-sidenav-left material-whiteframe-z3" component-id="left">
            <material-toolbar class="material-theme-orange material-medium-tall">
                <h1 class="material-toolbar-tools" style="padding-top:25px;">
                    <img class="logo-42" src="/static/lib/images/taskburndown_favicon.png" ng-click="goHome();">
                    <a href="#" ng-click="goHome()">Task<br>Burndown</a>
                </h1>
            </material-toolbar>
            <material-content flex>
                <!--sidebar -->
                <material-button ng-href="#/" class="menu-item menu-title">Home</material-button>
                <material-button ng-href="#/tasks/" class="menu-item menu-title">Tasks</material-button>
                <material-button ng-href="#/sprints/" class="menu-item menu-title">Sprints</material-button>
                <material-button ng-href="#/categories/" class="menu-item menu-title">Categories</material-button>
                <material-button ng-href="#/stats/" class="menu-item menu-title">Stats</material-button>
                <!--/sidebar-->
            </material-content>
        </material-sidenav>
        <div layout="vertical" layout-fill>
            <material-toolbar class="material-theme-red material-medium-tall">
                <!--page header-->
                <div class="material-toolbar-tools" ng-click="toggleMenu()">
                    <div class="menu-icon" hide-md>
                        <i class="fa fa-bars"></i>
                    </div>
                    <h2 hide="" block-sm="" class="ng-binding">
                        <ul class="breadcrumbs">
                        <li><a href="#">HOME</a></li>
                        <li ng-repeat="crumb in breadCrumb"><a href="#{{crumb.link}}">{{ crumb.name }}</a></li>
                    </ul>
                    </h2>

                </div>
                <div class="material-toolbar-tools">
                    <span flex></span>
                    <material-button ng-href="/logout/">
                        <i class="fa fa-sign-out">Logout</i>
                    </material-button>
                </div>
                <!--/page header-->
            </material-toolbar>

            <div class="material-content" ng-view></div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock content %}

{% block script %}
    {% include "main/vendor_scripts.html" %}
    {% include "main/application_scripts.html" %}
{% endblock script %}