{% extends "base.html" %}

{% block styles %}
    {% include "main/application_styles.html" %}
{% endblock styles %}

{% block content %}
    {% verbatim %}

    <div ng-app="task-burndown" layout="column" ng-controller="GlobalController" layout-fill ng-cloak flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSideNav('left')" hide-gt-sm class="menuBtn"
                           aria-label="Toggle Side Navigation">
                <span class="visuallyhidden">
                    <span class="fa fa-bars"></span>
                </span>
                    <md-tooltip>Toggle Side Navigation</md-tooltip>
                </md-button>
                <h1 ng-click="go('')">
                    <!--<img class="logo-42" src="/static/lib/images/taskburndown_favicon.png" ng-click="goHome();">-->
                    <a ng-click="goHome()">Task<br>Burndown</a>
                </h1>

                <div flex></div>
                <div>
                    <md-button aria-label="Settings" ng-click="go('settings')">
                        <span class="fa fa-cog"></span>
                        <md-tooltip>Settings</md-tooltip>
                    </md-button>
                </div>
                <md-button aria-label="Sign out">
                    <span class="fa fa-sign-in"></span>
                    <md-tooltip>Sign Out</md-tooltip>
                </md-button>

            </div>
        </md-toolbar>

        <div layout="row" flex>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-sm')">
                <md-content ng-controller="SidebarController">
                    <md-button class="menu-item" ng-repeat-start="menu in sidebarMenus" ng-click="go(menu.link)"
                               aria-label="{{ menu.text }}">
                        <i class="fa" ng-class="menu.icon"></i>
                        {{ menu.text }}
                    </md-button>
                    <md-divider ng-repeat-end></md-divider>
                </md-content>
            </md-sidenav>

            <md-content layout="column" flex class="content-wrapper md-padding" id="content" ng-view ng-cloak>

            </md-content>
        </div>
    </div>

    {% endverbatim %}
{% endblock content %}

{% block script %}
    {% include "main/vendor_scripts.html" %}
    {% include "main/application_scripts.html" %}
{% endblock script %}