<div class="home-view" layout="vertical" layout-lg="horizontal" layout-md="horzontal" layout-sm="horizontal"
     layout-padding ng-if="!noSprint">
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-orange" layout="horizontal">
                <h4>Tasks For Current Sprint ({{ sprint.active_total }}/{{ sprint.sprint_total }})</h4>
                <i class="fa fa-edit upper-right" ng-click="go('/sprints/' + sprint.id)"></i>
            </material-toolbar>
            <material-content class="material-content-padding">
                <material-list>
                    <material-list-item ng-repeat="task in sprint.tasks | orderBy:'weight':'true'" layout="horizontal">
                        <div class="material-tile-left" layout=vertical layout-align="center center">
                            <material-checkbox ng-model="task.completed" ng-change="updateTask(task)"></material-checkbox>
                        </div>
                        <div class="material-tile-content">
                            <h2>{{ task.title }}</h2>

                            <h3>{{ task.weight }}</h3>

                            <p>
                                {{ task.description }}
                            </p>
                        </div>
                    </material-list-item>
                </material-list>
            </material-content>
        </material-content>

    </div>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>Burndown ({{ burndownPace }})</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <highchart id="category_breakdown" config="sprint.burndownChart"></highchart>
            </material-content>
        </material-content>
    </div>
</div>
<div class="home-view" layout="vertical" layout-lg="horizontal" layout-md="horzontal" layout-sm="horizontal"
     layout-padding ng-if="noSprint">
    <div flex>
        <material-content class="material-content-padding">
            No Active Sprint Found. Create a New Sprint to get started!
        </material-content>
        <br>
        <material-content class="material-whiteframe-z1 content-left">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>New Sprint</h4>
            </material-toolbar>
            <material-content class="material-content-padding" layout="vertical">
                <form name="NewSprintForm" ng-submit="submitNewSprint(NewSprintForm.$valid)" novalidate>
                    <material-input-group class="material-input-group-theme-orange">
                        <label for="name">Name</label>
                        <material-input class="material-input" type="text" name="name" required
                                        ng-model="newTask.name"></material-input>
                        <p class="error"
                           ng-show="NewSprintForm.name.$invalid && (!NewSprintForm.name.$pristine || submitted)">
                            A name is required
                        </p>
                    </material-input-group>
                    <br>

                    <div layout="horizontal">
                        <div flex>
                            <label for="date_start">Start Date</label>
                            <datepicker ng-model="newSprint.date_start" id="date_start" name="date_start" format="yyyy-mm-dd" show-weeks="false"></datepicker>
                            <p class="error"
                           ng-show="NewSprintForm.date_start.$invalid && (!NewSprintForm.date_start.$pristine || submitted)">
                            A start date is
                            required</p>
                            {{ newSprint.date_start }}
                        </div>
                        <div flex></div>
                        </div>
                    <div layout="horizontal">
                        <div flex>
                            <label for="date_finish">Completion Date</label>
                            <datepicker ng-model="newSprint.date_finish" id="date_finish" name="date_finish" format="yyyy-mm-dd" show-weeks="false"></datepicker>
                            <p class="error"
                           ng-show="NewSprintForm.date_finish.$invalid && (!NewSprintForm.date_finish.$pristine || submitted)">
                            A finish date is
                            required</p>
                        </div>
                        <div flex></div>
                    </div>
                    <material-input-group layout="horizontal">
                        <div flex></div>
                        <material-button class="material-button-raised material-theme-red" type="submit">
                            Submit
                        </material-button>
                    </material-input-group>
                </form>
            </material-content>
        </material-content>
    </div>
    <div flex>
        <material-content class="material-whiteframe-z1 content-left">
            <material-toolbar id="new_task_toolbar" class="material-toolbar material-theme-orange">
                <h4>Add New Task</h4>
            </material-toolbar>
            <material-content class="material-content-padding" layout="vertical">
                <form name="NewTaskForm" ng-submit="submitNewTask(NewTaskForm.$valid)" novalidate>
                    <material-input-group class="material-input-group-theme-orange">
                        <label for="title">Title</label>
                        <material-input class="material-input" type="text" name="title" required
                                        ng-model="newTask.title"></material-input>
                        <p class="error" ng-show="NewTaskForm.title.$invalid && (!NewTaskForm.title.$pristine || submitted)">A Title is required</p>
                    </material-input-group>
                    <material-input-group class="material-input-group-theme-orange">
                        <label for="description">Description</label>
                        <material-input class="material-input" type="text" name="description"
                                        ng-model="newTask.description"></material-input>

                    </material-input-group>
                    <material-input-group class="material-input-group-theme-orange">
                        <label for="category">Category</label><br><br>
                        <select id=category name=category ng-options="category.id as category.name for category in categories"
                                ng-model="newTask.category" flex required></select>
                        <p class="error" ng-show="NewTaskForm.category.$invalid && (!NewTaskForm.category.$pristine || submitted)">A Category is required</p>
                    </material-input-group>
                    <material-input-group class="material-input-group-theme-orange">
                        <label for="weight">Task Weight</label>
                        <material-slider>
                            <input type="range" ng-model="newTask.weight" id=weight min="1" max="13" step="1" required>
                        </material-slider>
                        <p class="error" ng-show="NewTaskForm.weight.$invalid && (!NewTaskForm.weight.$pristine || submitted)">A Weight is required</p>
                    </material-input-group>
                    <br>
                    <material-input-group layout="horizontal">
                        <div flex></div>
                        <material-button class="material-button-raised material-theme-red" type="submit">
                            Submit
                        </material-button>
                    </material-input-group>
                </form>
            </material-content>
        </material-content>
        <br>
        <material-content class="material-whiteframe-z1 content-right">
            <material-toolbar scroll-shrink class="material-theme-orange material-toolbar">
                <h4>Backlog ({{ backlogTotal }})</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <material-list>
                    <material-list-item ng-repeat="task in tasks | filter:{'backlog':true}" layout="horizontal"
                                        ng-click="viewTask(task)">
                        <div class="material-tile-left" layout=vertical layout-align="center center">
                            <span>{{ task.category_name }}</span>
                        </div>
                        <div class="material-tile-content">
                            <h2>{{ task.title }}</h2>

                            <h3>{{ task.weight }}</h3>

                            <p>
                                {{ task.description }}
                            </p>
                        </div>
                    </material-list-item>
                </material-list>
            </material-content>
        </material-content>
    </div>
</div>