<material-toolbar class="material-medium-tall material-theme-red" layout="vertical">
    <h2>Welcome To Task Burndown</h2>

    <div class="material-toolbar-tools" layout="horiztonal">
        <div flex></div>
        <a href="/login/">
            <material-button href="/login/">

                <i class="fa fa-sign-in"></i>Login
            </material-button>
        </a>
    </div>
</material-toolbar>
<div class="landing-page" layout="vertical">
    <div layout="vertical" layout-lg="horizontal" layout-md="horizontal" layout-sm="horizontal" layout-padding>
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-toolbar material-theme-orange">
                    <h4>About</h4>
                </material-toolbar>
                <material-content class="material-content-padding">
                    <p>
                        Task Burndown is an agile approach to task management. It was written design to use the agile
                        weight assignment and burndown charts to incentivize users to get things done in every area of
                        their life.
                    </p>
                    <p>
                        Simple to use and built in AngularJS's new Material Design patterns, it will work on your mobile
                        devices and in any browser, allowing you to keep your tasks on hand whereever you are.
                    </p>
                </material-content>
            </material-content>
        </div>
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-toolbar material-theme-orange">
                    <h4>Features</h4>
                </material-toolbar>
                <material-content class="material-content-padding">
                    <material-list>
                        <material-list-item>
                            <h5>Task Backlog</h5>
                            <h5>Variable Sprints</h5>
                            <h5>Organization by category</h5>
                            <h5>Burndown Charts</h5>
                            <h5>Statistics on completion</h5>
                        </material-list-item>
                    </material-list>
                </material-content>
            </material-content>
        </div>
    </div>
    <div layout="vertical" layout-lg="horizontal" layout-md="horizontal" layout-sm="horizontal" layout-padding>
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-toolbar material-theme-orange">
                    <h4>Register</h4>
                </material-toolbar>
                <material-content class="material-content-padding">
                    <p>Register completely for free!</p>
                    <a href="/register/">
                        <material-button class="material-theme-red material-button-raised">
                            Register
                        </material-button>
                    </a>
                </material-content>
            </material-content>
        </div>
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-toolbar material-theme-orange">
                    <h4>Open Source</h4>
                </material-toolbar>
                <material-content class="material-content-padding">
                    <p>View the source at github</p>
                    <a href="http://github.com/mc706/task-burndown/">
                        <material-button class="material-theme-red material-button-raised">
                            <i class="fa fa-github"></i>github respository
                        </material-button>
                    </a>
                </material-content>
            </material-content>
        </div>
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-toolbar material-theme-orange">
                    <h4>About the Creator</h4>
                </material-toolbar>
                <material-content class="material-content-padding">
                    <p>Find more about Ryan McDevitt (mc706) at his personal website</p>
                    <a href="http://mc706.com/">
                        <material-button class="material-theme-red material-button-raised">
                            <i class="fa fa-globe"></i>mc706.com
                        </material-button>
                    </a>
                </material-content>
            </material-content>
        </div>
    </div>
</div>