{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block base %} <base href="/login">{% endblock base %}

{% block content %}
    <div ng-app="task-burndown" class="login-page">
        <div layout="horizontal" layout-fill layout-align="start center" ng-contoller="LoginController">
            <div class="login-form" flex="50" offset="25">
                <material-toolbar class="material-theme-light" layout="horizontal">
                    <h2 layout-align="center">Login</h2>
                </material-toolbar>
                <material-content class="material-whiteframe-z4">
                    {% if errors %}
                        {% for error in errors %}
                            <div class="error">{{ error.message }}</div>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url "login" %}" method="post" layout="vertical">
                        {% csrf_token %}
                        <material-input-group class="material-input-group-theme-light">
                            <label for="username" >Username</label>
                            <material-input class="material-input" type=text name="username" id="username" ></material-input>
                        </material-input-group>
                        <material-input-group class="material-input-group-theme-light" flex>
                            <label for="password">Password</label>
                            <material-input type="password" name="password" id="password"></material-input>
                        </material-input-group>
                        <br>
                        <material-button class="material-button-raised material-button-colored">
                            <i class="fa fa-sign-in">Login</i>
                        </material-button>
                    </form>
                </material-content>
            </div>
        </div>
    </div>
{% endblock content %}