<div class="home-view" layout="vertical" layout-lg="horizontal" layout-md="horzontal" layout-sm="horizontal"
     layout-padding ng-if="!noSprint">
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4>Tasks For Current Sprint</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <material-list>
                    <material-list-item ng-repeat="task in sprint.tasks" layout="horizontal">
                        <div class="material-tile-left" layout=vertical layout-align="center center">
                            <material-checkbox ng-model="task.completed" ng-change="updateTask(task)"></material-checkbox>
                        </div>
                        <div class="material-tile-content">
                            <h2>{{ task.title }}</h2>

                            <h3>{{ task.weight }}</h3>

                            <p>
                                {{ task.description }}
                            </p>
                        </div>
                    </material-list-item>
                </material-list>
            </material-content>
        </material-content>

    </div>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4>Burndown</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <highchart id="category_breakdown" config="sprint.burndown"></highchart>
            </material-content>
        </material-content>
    </div>
</div>
<div class="home-view" layout="vertical" layout-lg="horizontal" layout-md="horzontal" layout-sm="horizontal"
     layout-padding ng-if="noSprint">
    <div flex>
        <material-content class="material-content-padding">
            No Active Sprint Found. Create a New Sprint to get started!
        </material-content>
        <br>
        <material-content class="material-whiteframe-z1 content-left">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4>New Sprint</h4>
            </material-toolbar>
            <material-content class="material-content-padding" layout="vertical">
                <form name="NewSprintForm" ng-submit="submitNewSprint(NewSprintForm.$valid)" novalidate>
                    <material-input-group>
                        <label for="name">Name</label>
                        <material-input class="material-input" type="text" name="name" required
                                        ng-model="newTask.name"></material-input>
                        <p class="error"
                           ng-show="NewSprintForm.name.$invalid && (!NewSprintForm.name.$pristine || submitted)">
                            A name is required
                        </p>
                    </material-input-group>
                    <material-input-group>
                        <label for="date_started">Start Date</label>
                        <material-input class="material-input" type="text" name="date_started" id="date_started"
                                        ng-model="newTask.date_started"></material-input>
                        <p class="error"
                           ng-show="NewSprintForm.date_started.$invalid && (!NewSprintForm.date_started.$pristine || submitted)">
                            A start is required
                        </p>
                    </material-input-group>
                    <material-input-group>
                        <label for="date_finish">Completion Date</label>
                        <material-input class="material-input" type="text" name="date_finish" id="date_finish"
                                        ng-model="newTask.date_finish"></material-input>
                        <p class="error"
                           ng-show="NewSprintForm.date_finish.$invalid && (!NewSprintForm.date_finish.$pristine || submitted)">
                            A name is
                            required</p>
                    </material-input-group>
                    <material-input-group layout="horizontal">
                        <div flex></div>
                        <material-button class="material-button-raised material-button-colored" type="submit">
                            Submit
                        </material-button>
                    </material-input-group>
                </form>
            </material-content>
        </material-content>
    </div>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4>Burndown</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <highchart id="category_breakdown" config="sprint.burndown"></highchart>
            </material-content>
        </material-content>
    </div>
</div>