<div class="sprints-view" layout="vertical" layout-lg="horiztonal" layout-md="horizontal" layout-sd="horiztonal"
     layout-padding>
    <div flex>
        <material-content class="material-whiteframe-z1 content-left">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4>New Sprint</h4>
            </material-toolbar>
            <material-content class="material-content-padding" layout="vertical">
                <form name="NewSprintForm" ng-submit="submitNewSprint(NewSprintForm.$valid)" novalidate>
                    <material-input-group>
                        <label for="name">Name</label>
                        <material-input class="material-input" type="text" name="name" required
                                        ng-model="newTask.name"></material-input>
                        <p class="error"
                           ng-show="NewTaskForm.name.$invalid && (!NewTaskForm.name.$pristine || submitted)">
                            A name is required
                        </p>
                    </material-input-group>
                    <material-input-group>
                        <label for="date_started">Start Date</label>
                        <material-input class="material-input" type="text" name="date_started" id="date_started"
                                        ng-model="newTask.date_started"></material-input>
                        <p class="error"
                           ng-show="NewTaskForm.date_started.$invalid && (!NewTaskForm.date_started.$pristine || submitted)">
                            A start is required
                        </p>
                    </material-input-group>
                    <material-input-group>
                        <label for="date_finish">Completion Date</label>
                        <material-input class="material-input" type="text" name="date_finish" id="date_finish"
                                        ng-model="newTask.date_finish"></material-input>
                        <p class="error"
                           ng-show="NewTaskForm.date_finish.$invalid && (!NewTaskForm.date_finish.$pristine || submitted)">
                            A name is
                            required</p>
                    </material-input-group>
                    <material-input-group layout="horizontal">
                        <div flex></div>
                        <material-button class="material-button-raised material-button-colored" type="submit">
                            Submit
                        </material-button>
                    </material-input-group>
                </form>
            </material-content>
        </material-content>
    </div>
    <div flex>
        <material-content class="material-whiteframe-z1 content-right">
            <material-toolbar scroll-shrink class="material-theme-light material-toolbar">
                <h4>Sprints</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <material-card ng-repeat="sprint in sprints">
                    <highchart id="chart_{{ sprint.name }}" class="burndown-chart" config="sprint.config"></highchart>
                    <h2>{{ sprint.name }}</h2>

                    <p>{{ sprint.date_start }} - {{ sprint.date_finish }}</p>
                    <material-list>
                        <material-list-item ng-repeat="task in sprint.tasks">
                            {{ task.title }} -
                            {{ task.description }}
                            <br>
                        </material-list-item>
                    </material-list>
                </material-card>
            </material-content>
        </material-content>
    </div>
</div>