<div class="sprint-view" layout="vertical" layout-lg="horiztonal" layout-md="horizontal" layout-sm="horizontal"
     layout-padding>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4></h4>
            </material-toolbar>
            <material-content class="material-content-padding">

            </material-content>
        </material-content>
    </div>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4></h4>
            </material-toolbar>
            <material-content class="material-content-padding">

            </material-content>
        </material-content>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-light">
                <h4></h4>
            </material-toolbar>
            <material-content class="material-content-padding">

            </material-content>
        </material-content>
    </div>
</div>