<div class="sprint-view" layout="vertical" layout-lg="horiztonal" layout-md="horizontal" layout-sm="horizontal"
     layout-padding>
    <div flex>
        <material-content class="material-whiteframe-z1" ng-if="sprint.active">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>Backlog ({{ backlogTotal }})</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <material-list>
                    <material-list-item ng-repeat="task in tasks | filter:{'backlog':true}" layout="horizontal">
                        <div class="material-tile-left" layout="vertical" layout-align="center center">
                            <i class="fa fa2x fa-plus" title="Add Task to Sprint" ng-click="addTask(task)"></i>
                        </div>
                        <div class="material-tile-content">
                            <h2>{{ task.title }}</h2>

                            <h3>{{ task.weight }}</h3>

                            <p>
                                {{ task.description }}
                            </p>
                        </div>
                    </material-list-item>
                </material-list>
            </material-content>
        </material-content>
        <material-content class="material-whiteframe-z1" ng-hide="sprint.active">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>Burndown</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <highchart id="category_breakdown" config="sprint.burndownConfig"></highchart>
            </material-content>
        </material-content>
        <br>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>Category Breakdown</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <highchart id="category_breakdown" config="sprint.categoryConfig"></highchart>
            </material-content>
        </material-content>
    </div>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>Sprint ({{ sprint.sprint_total }})</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <material-list>
                    <material-list-item ng-repeat="task in sprint.tasks" layout="horizontal">
                        <div class="material-tile-left" layout="vertical" layout-align="center center">
                            <i class="fa fa2x fa-minus" title="Add Task to Sprint" ng-click="removeTask($index)" ng-if="sprint.active"></i>
                            <material-checkbox disabled ng-model="task.completed" ng-hide="sprint.active"></material-checkbox>
                        </div>
                        <div class="material-tile-content">
                            <h2>{{ task.title }}</h2>

                            <h3>{{ task.weight }}</h3>

                            <p>
                                {{ task.description }}
                            </p>
                        </div>
                    </material-list-item>
                </material-list>
            </material-content>
        </material-content>
        <br>
        <material-content class="material-whiteframe-z1" ng-show="sprint.active">
            <material-toolbar class="material-toolbar material-theme-orange">
                <h4>Burndown</h4>
            </material-toolbar>
            <material-content class="material-content-padding">
                <highchart id="category_breakdown" config="sprint.burndownConfig"></highchart>
            </material-content>
        </material-content>
    </div>
</div>