<div class="task-view" layout="horizontal" layout-md="horizontal" layout-padding>
    <div flex="20" hide hide hide-sm block-md block-lg></div>
    <material-content class="material-content-padding material-whiteframe-z2" flex>
        <h2>{{ task.title }}</h2>
        <p>
            <b>Category: </b> {{ task.category_name }}<br>
            <b>Sprint: </b> {{ task.sprint_name }}<br>
            <b>Status: </b> <span ng-show="task.completed">Completed</span><span ng-hide="task.completed">Incomplete</span>
        </p>
        <p>
            {{ task.description }}
        </p>

    </material-content>
    <div flex="20" hide hide hide-sm block-md block-lg></div>
</div>